@model IEnumerable<ShopApplication.Models.GroupModel>
@{
    ViewData["Title"] = "Index";
 }

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>
        table, td, th {
            border: 1px solid black;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th {
            height: 50px;
        }
    </style>
</head>
<body>
    <div>
        <button>
            <a class="nav-link text-dark" asp-area="" asp-controller="Group" asp-action="Add">Add</a>
        </button>
        <button> <a class="nav-link text-dark" asp-area="" asp-controller="Group" asp-action="GetGroup">Edit</a></button>
        <button><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Close</a></button>

        <table>
            <tr>
                <th>Group id</th>
                <th>Group code</th>
                <th>Group name</th>
            </tr>
            @foreach (var g in Model)
            {
                <tr style="background-color: @g.GroupColor">
                    <th>@g.GroupId</th>
                    <th>@g.GroupCode</th>
                    <th>@g.GroupName</th>
                    <th>
                        <button> <a class="nav-link text-dark" asp-area="" asp-controller="Group" asp-action="GetGroup" asp-route-id="@g.GroupId">Edit</a></button>
                    </th>
                </tr>
            }
        </table>
    </div>
</body>
</html>

