@model ShopApplication.Models.ProductModel;
@{
    ViewData["Title"] = "Update";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
    <form asp-controller="Home" asp-action="Update" method="post">
        <input type="hidden" name="ProductId" value="@Model.ProductId" />
        <label>Code Number</label>
        <br />
        <input type="number" id="CodeProduct" name="CodeProduct" value="@Model.CodeProduct" />
        <br />
        <label>Name</label>
        <br />
        <input type="text" id="ProductName" name="ProductName" value="@Model.ProductName" />
        <br />
        <label>Selest color</label>
        <br />
        <select id="ProductColor" name="ProductColor">

            <option value="#00FF00" selected="@(Model.ProductColor == "#00FF00" ? "selected" : "")">Lime</option>
            <option value="#00FFFF" selected="@(Model.ProductColor == "#00FFFF" ? "selected" : "")">Cyan / Aqua</option>
            <option value="#00FF00" selected="@(Model.ProductColor == "#00FF00" ? "selected" : "")">green</option>
            <option value="#FFFF00" selected="@(Model.ProductColor == "#FFFF00" ? "selected" : "")">yellow</option>
        </select>
        <br />
       
        <label>Price</label>
        <br />
        <input type="number" id="ProductPrice" name="ProductPrice" value="@Model.ProductPrice" />
        <br />
        <button><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Cancel</a></button>
        <button type="submit">Save</button>
    </form>
</body>
</html>

